<?php
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Volcengine\Sts\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Volcengine\Common\ApiException;
use Volcengine\Common\Configuration;
use Volcengine\Common\HeaderSelector;
use Volcengine\Common\ObjectSerializer;
use Volcengine\Common\Utils;
use Volcengine\Common\ApiClient;

class STSApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var ApiClient
     */
    protected $apiClient;

    /**
     * @param ClientInterface|null $client
     * @param Configuration|null $config
     * @param HeaderSelector|null $selector
     * @param ApiClient|null $apiClient
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration   $config = null,
        HeaderSelector  $selector = null,
        ApiClient       $apiClient = null
    )
    {
        $this->client = $client ?: new Client();
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->apiClient = $apiClient ?: new ApiClient($this->config, $this->client);
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    public function assumeRole($body)
    {
        list($response) = $this->assumeRoleWithHttpInfo($body);
        return $response;
    }

    public function assumeRoleWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Sts\Model\AssumeRoleResponse';
        $request = $this->assumeRoleRequest($body);

        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function assumeRoleAsync($body)
    {
        return $this->assumeRoleAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function assumeRoleAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Sts\Model\AssumeRoleResponse';
        $request = $this->assumeRoleRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function assumeRoleRequest($body)
    {
        $attributes = $body::getters();
        $duration_seconds = $body->{$attributes['duration_seconds']}();
        $policy = $body->{$attributes['policy']}();
        $role_session_name = $body->{$attributes['role_session_name']}();
        $role_trn = $body->{$attributes['role_trn']}();
        $tags = $body->{$attributes['tags']}();
        // verify the required parameter 'duration_seconds' is set
        if ($duration_seconds === null || (is_array($duration_seconds) && count($duration_seconds) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $duration_seconds when calling assumeRole'
            );
        }
        // verify the required parameter 'policy' is set
        if ($policy === null || (is_array($policy) && count($policy) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $policy when calling assumeRole'
            );
        }
        // verify the required parameter 'role_session_name' is set
        if ($role_session_name === null || (is_array($role_session_name) && count($role_session_name) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $role_session_name when calling assumeRole'
            );
        }
        // verify the required parameter 'role_trn' is set
        if ($role_trn === null || (is_array($role_trn) && count($role_trn) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $role_trn when calling assumeRole'
            );
        }
        // verify the required parameter 'tags' is set
        if ($tags === null || (is_array($tags) && count($tags) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tags when calling assumeRole'
            );
        }

        $resourcePath = '/AssumeRole/2018-01-01/sts/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }

    public function getCallerIdentity()
    {
        list($response) = $this->getCallerIdentityWithHttpInfo();
        return $response;
    }

    public function getCallerIdentityWithHttpInfo()
    {
        $returnType = '\Volcengine\Sts\Model\GetCallerIdentityResponse';
        $request = $this->getCallerIdentityRequest();

        return $this->apiClient->callApi($body = null, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function getCallerIdentityAsync()
    {
        return $this->getCallerIdentityAsyncWithHttpInfo()
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function getCallerIdentityAsyncWithHttpInfo()
    {
        $returnType = '\Volcengine\Sts\Model\GetCallerIdentityResponse';
        $request = $this->getCallerIdentityRequest();
        return $this->apiClient->callApi($body = null, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function getCallerIdentityRequest()
    {

        $resourcePath = '/GetCallerIdentity/2018-01-01/sts/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }


    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        return $options;
    }
}
