<?php
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Volcengine\Tag\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Volcengine\Common\ApiException;
use Volcengine\Common\Configuration;
use Volcengine\Common\HeaderSelector;
use Volcengine\Common\ObjectSerializer;
use Volcengine\Common\Utils;
use Volcengine\Common\ApiClient;

class TAGApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var ApiClient
     */
    protected $apiClient;

    /**
     * @param ClientInterface|null $client
     * @param Configuration|null $config
     * @param HeaderSelector|null $selector
     * @param ApiClient|null $apiClient
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration   $config = null,
        HeaderSelector  $selector = null,
        ApiClient       $apiClient = null
    )
    {
        $this->client = $client ?: new Client();
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->apiClient = $apiClient ?: new ApiClient($this->config, $this->client);
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    public function createTags($body)
    {
        list($response) = $this->createTagsWithHttpInfo($body);
        return $response;
    }

    public function createTagsWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\CreateTagsResponse';
        $request = $this->createTagsRequest($body);

        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function createTagsAsync($body)
    {
        return $this->createTagsAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function createTagsAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\CreateTagsResponse';
        $request = $this->createTagsRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function createTagsRequest($body)
    {
        // verify the required parameter 'tags' is set
        if ($body === null || (is_array($body) && count($body) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tags when calling createTags'
            );
        }

        $resourcePath = '/CreateTags/2022-06-01/tag/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }

    public function deleteTags($body)
    {
        list($response) = $this->deleteTagsWithHttpInfo($body);
        return $response;
    }

    public function deleteTagsWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\DeleteTagsResponse';
        $request = $this->deleteTagsRequest($body);

        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function deleteTagsAsync($body)
    {
        return $this->deleteTagsAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function deleteTagsAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\DeleteTagsResponse';
        $request = $this->deleteTagsRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function deleteTagsRequest($tags)
    {
        // verify the required parameter 'tags' is set
        if ($tags === null || (is_array($tags) && count($tags) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tags when calling deleteTags'
            );
        }

        $resourcePath = '/DeleteTags/2022-06-01/tag/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }

    public function getResources($body)
    {
        list($response) = $this->getResourcesWithHttpInfo($body);
        return $response;
    }

    public function getResourcesWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\GetResourcesResponse';
        $request = $this->getResourcesRequest($body);

        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function getResourcesAsync($body)
    {
        return $this->getResourcesAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function getResourcesAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\GetResourcesResponse';
        $request = $this->getResourcesRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function getResourcesRequest($body)
    {
        $attributes = $body::getters();
        $max_results = $body->{$attributes['max_results']}();
        $next_token = $body->{$attributes['next_token']}();
        $resource_trn_list = $body->{$attributes['resource_trn_list']}();
        $resource_type_filters = $body->{$attributes['resource_type_filters']}();
        $tag_filters = $body->{$attributes['tag_filters']}();
        // verify the required parameter 'max_results' is set
        if ($max_results === null || (is_array($max_results) && count($max_results) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $max_results when calling getResources'
            );
        }
        // verify the required parameter 'next_token' is set
        if ($next_token === null || (is_array($next_token) && count($next_token) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $next_token when calling getResources'
            );
        }
        // verify the required parameter 'resource_trn_list' is set
        if ($resource_trn_list === null || (is_array($resource_trn_list) && count($resource_trn_list) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $resource_trn_list when calling getResources'
            );
        }
        // verify the required parameter 'resource_type_filters' is set
        if ($resource_type_filters === null || (is_array($resource_type_filters) && count($resource_type_filters) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $resource_type_filters when calling getResources'
            );
        }
        // verify the required parameter 'tag_filters' is set
        if ($tag_filters === null || (is_array($tag_filters) && count($tag_filters) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tag_filters when calling getResources'
            );
        }

        $resourcePath = '/GetResources/2022-06-01/tag/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }

    public function getTagKeys($body)
    {
        list($response) = $this->getTagKeysWithHttpInfo($body);
        return $response;
    }

    public function getTagKeysWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\GetTagKeysResponse';
        $request = $this->getTagKeysRequest($body);

        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function getTagKeysAsync($body)
    {
        return $this->getTagKeysAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function getTagKeysAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\GetTagKeysResponse';
        $request = $this->getTagKeysRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function getTagKeysRequest($body)
    {
        $attributes = $body::getters();
        $match_type = $body->{$attributes['match_type']}();
        $max_results = $body->{$attributes['max_results']}();
        $next_token = $body->{$attributes['next_token']}();
        $tag_key = $body->{$attributes['tag_key']}();
        $tag_type = $body->{$attributes['tag_type']}();
        // verify the required parameter 'match_type' is set
        if ($match_type === null || (is_array($match_type) && count($match_type) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $match_type when calling getTagKeys'
            );
        }
        // verify the required parameter 'max_results' is set
        if ($max_results === null || (is_array($max_results) && count($max_results) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $max_results when calling getTagKeys'
            );
        }
        // verify the required parameter 'next_token' is set
        if ($next_token === null || (is_array($next_token) && count($next_token) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $next_token when calling getTagKeys'
            );
        }
        // verify the required parameter 'tag_key' is set
        if ($tag_key === null || (is_array($tag_key) && count($tag_key) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tag_key when calling getTagKeys'
            );
        }
        // verify the required parameter 'tag_type' is set
        if ($tag_type === null || (is_array($tag_type) && count($tag_type) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tag_type when calling getTagKeys'
            );
        }

        $resourcePath = '/GetTagKeys/2022-06-01/tag/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }

    public function getTagValues($body)
    {
        list($response) = $this->getTagValuesWithHttpInfo($body);
        return $response;
    }

    public function getTagValuesWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\GetTagValuesResponse';
        $request = $this->getTagValuesRequest($body);

        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function getTagValuesAsync($body)
    {
        return $this->getTagValuesAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function getTagValuesAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\GetTagValuesResponse';
        $request = $this->getTagValuesRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function getTagValuesRequest($body)
    {
        $attributes = $body::getters();
        $match_type = $body->{$attributes['match_type']}();
        $max_results = $body->{$attributes['max_results']}();
        $next_token = $body->{$attributes['next_token']}();
        $tag_keys = $body->{$attributes['tag_keys']}();
        $tag_value = $body->{$attributes['tag_value']}();
        // verify the required parameter 'match_type' is set
        if ($match_type === null || (is_array($match_type) && count($match_type) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $match_type when calling getTagValues'
            );
        }
        // verify the required parameter 'max_results' is set
        if ($max_results === null || (is_array($max_results) && count($max_results) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $max_results when calling getTagValues'
            );
        }
        // verify the required parameter 'next_token' is set
        if ($next_token === null || (is_array($next_token) && count($next_token) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $next_token when calling getTagValues'
            );
        }
        // verify the required parameter 'tag_keys' is set
        if ($tag_keys === null || (is_array($tag_keys) && count($tag_keys) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tag_keys when calling getTagValues'
            );
        }
        // verify the required parameter 'tag_value' is set
        if ($tag_value === null || (is_array($tag_value) && count($tag_value) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tag_value when calling getTagValues'
            );
        }

        $resourcePath = '/GetTagValues/2022-06-01/tag/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }

    public function getTags($body)
    {
        list($response) = $this->getTagsWithHttpInfo($body);
        return $response;
    }

    public function getTagsWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\GetTagsResponse';
        $request = $this->getTagsRequest($body);

        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function getTagsAsync($body)
    {
        return $this->getTagsAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function getTagsAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\GetTagsResponse';
        $request = $this->getTagsRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function getTagsRequest($body)
    {
        $attributes = $body::getters();
        $count_resources = $body->{$attributes['count_resources']}();
        $match_type = $body->{$attributes['match_type']}();
        $max_results = $body->{$attributes['max_results']}();
        $next_token = $body->{$attributes['next_token']}();
        $tag_keys = $body->{$attributes['tag_keys']}();
        $tag_type = $body->{$attributes['tag_type']}();
        // verify the required parameter 'count_resources' is set
        if ($count_resources === null || (is_array($count_resources) && count($count_resources) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $count_resources when calling getTags'
            );
        }
        // verify the required parameter 'match_type' is set
        if ($match_type === null || (is_array($match_type) && count($match_type) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $match_type when calling getTags'
            );
        }
        // verify the required parameter 'max_results' is set
        if ($max_results === null || (is_array($max_results) && count($max_results) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $max_results when calling getTags'
            );
        }
        // verify the required parameter 'next_token' is set
        if ($next_token === null || (is_array($next_token) && count($next_token) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $next_token when calling getTags'
            );
        }
        // verify the required parameter 'tag_keys' is set
        if ($tag_keys === null || (is_array($tag_keys) && count($tag_keys) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tag_keys when calling getTags'
            );
        }
        // verify the required parameter 'tag_type' is set
        if ($tag_type === null || (is_array($tag_type) && count($tag_type) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tag_type when calling getTags'
            );
        }

        $resourcePath = '/GetTags/2022-06-01/tag/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }

    public function listResourceTypes()
    {
        list($response) = $this->listResourceTypesWithHttpInfo();
        return $response;
    }

    public function listResourceTypesWithHttpInfo()
    {
        $returnType = '\Volcengine\Tag\Model\ListResourceTypesResponse';
        $request = $this->listResourceTypesRequest();

        return $this->apiClient->callApi($body = null, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function listResourceTypesAsync($body = null)
    {
        return $this->listResourceTypesAsyncWithHttpInfo($body = null)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function listResourceTypesAsyncWithHttpInfo($body = null)
    {
        $returnType = '\Volcengine\Tag\Model\ListResourceTypesResponse';
        $request = $this->listResourceTypesRequest();
        return $this->apiClient->callApi($body = null, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function listResourceTypesRequest()
    {

        $resourcePath = '/ListResourceTypes/2022-06-01/tag/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }

    public function tagResources($body)
    {
        list($response) = $this->tagResourcesWithHttpInfo($body);
        return $response;
    }

    public function tagResourcesWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\TagResourcesResponse';
        $request = $this->tagResourcesRequest($body);

        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function tagResourcesAsync($body)
    {
        return $this->tagResourcesAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function tagResourcesAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\TagResourcesResponse';
        $request = $this->tagResourcesRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function tagResourcesRequest($body)
    {
        $attributes = $body::getters();
        $resource_trn_list = $body->{$attributes['resource_trn_list']}();
        $tags = $body->{$attributes['tags']}();
        // verify the required parameter 'resource_trn_list' is set
        if ($resource_trn_list === null || (is_array($resource_trn_list) && count($resource_trn_list) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $resource_trn_list when calling tagResources'
            );
        }
        // verify the required parameter 'tags' is set
        if ($tags === null || (is_array($tags) && count($tags) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tags when calling tagResources'
            );
        }

        $resourcePath = '/TagResources/2022-06-01/tag/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }

    public function untagResources($body)
    {
        list($response) = $this->untagResourcesWithHttpInfo($body);
        return $response;
    }

    public function untagResourcesWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\UntagResourcesResponse';
        $request = $this->untagResourcesRequest($body);

        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function untagResourcesAsync($body)
    {
        return $this->untagResourcesAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function untagResourcesAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Tag\Model\UntagResourcesResponse';
        $request = $this->untagResourcesRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function untagResourcesRequest($body)
    {
        $attributes = $body::getters();

        $resource_trn_list = $body->{$attributes['resource_trn_list']}();
        $tag_keys = $body->{$attributes['tag_keys']}();
        // verify the required parameter 'resource_trn_list' is set
        if ($resource_trn_list === null || (is_array($resource_trn_list) && count($resource_trn_list) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $resource_trn_list when calling untagResources'
            );
        }
        // verify the required parameter 'tag_keys' is set
        if ($tag_keys === null || (is_array($tag_keys) && count($tag_keys) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tag_keys when calling untagResources'
            );
        }

        $resourcePath = '/UntagResources/2022-06-01/tag/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }


    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        return $options;
    }
}
