<?php
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Volcengine\Cloudtrail20180101\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Volcengine\Common\ApiException;
use Volcengine\Common\Configuration;
use Volcengine\Common\HeaderSelector;
use Volcengine\Common\ObjectSerializer;
use Volcengine\Common\Utils;
use Volcengine\Common\ApiClient;

class CLOUDTRAIL20180101Api
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var ApiClient
     */
    protected $apiClient;

    /**
     * @param ClientInterface|null $client
     * @param Configuration|null $config
     * @param HeaderSelector|null $selector
     * @param ApiClient|null $apiClient
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration   $config = null,
        HeaderSelector  $selector = null,
        ApiClient       $apiClient = null
    )
    {
        $this->client = $client ?: new Client();
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->apiClient = $apiClient ?: new ApiClient($this->config, $this->client);
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    public function createTrail($body)
    {
        list($response) = $this->createTrailWithHttpInfo($body);
        return $response;
    }

    public function createTrailWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Cloudtrail20180101\Model\CreateTrailResponse';
        $request = $this->createTrailRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function createTrailAsync($body)
    {
        return $this->createTrailAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function createTrailAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Cloudtrail20180101\Model\CreateTrailResponse';
        $request = $this->createTrailRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function createTrailRequest($body)
    {
        $attributes = $body::getters();
        $event_rw = $body->{$attributes['event_rw']}();
        $event_sources = $body->{$attributes['event_sources']}();
        $trail_name = $body->{$attributes['trail_name']}();
        $trail_type = $body->{$attributes['trail_type']}();
        $tls_project_name = $body->{$attributes['tls_project_name']}();
        $tls_project_region = $body->{$attributes['tls_project_region']}();
        $tls_project_topic_project = $body->{$attributes['tls_project_topic_project']}();
        $tls_topic_name = $body->{$attributes['tls_topic_name']}();
        $tos_bucket_name = $body->{$attributes['tos_bucket_name']}();
        $tos_bucket_project = $body->{$attributes['tos_bucket_project']}();
        $tos_bucket_region = $body->{$attributes['tos_bucket_region']}();
        $tos_key_prefix = $body->{$attributes['tos_key_prefix']}();
        // verify the required parameter 'event_rw' is set
        if ($event_rw === null || (is_array($event_rw) && count($event_rw) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $event_rw when calling createTrail'
            );
        }
        // verify the required parameter 'event_sources' is set
        if ($event_sources === null || (is_array($event_sources) && count($event_sources) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $event_sources when calling createTrail'
            );
        }
        // verify the required parameter 'tls_project_name' is set
        if ($tls_project_name === null || (is_array($tls_project_name) && count($tls_project_name) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tls_project_name when calling createTrail'
            );
        }
        // verify the required parameter 'tls_project_region' is set
        if ($tls_project_region === null || (is_array($tls_project_region) && count($tls_project_region) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tls_project_region when calling createTrail'
            );
        }
        // verify the required parameter 'tls_project_topic_project' is set
        if ($tls_project_topic_project === null || (is_array($tls_project_topic_project) && count($tls_project_topic_project) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tls_project_topic_project when calling createTrail'
            );
        }
        // verify the required parameter 'tls_topic_name' is set
        if ($tls_topic_name === null || (is_array($tls_topic_name) && count($tls_topic_name) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tls_topic_name when calling createTrail'
            );
        }
        // verify the required parameter 'tos_bucket_name' is set
        if ($tos_bucket_name === null || (is_array($tos_bucket_name) && count($tos_bucket_name) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tos_bucket_name when calling createTrail'
            );
        }
        // verify the required parameter 'tos_bucket_project' is set
        if ($tos_bucket_project === null || (is_array($tos_bucket_project) && count($tos_bucket_project) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tos_bucket_project when calling createTrail'
            );
        }
        // verify the required parameter 'tos_bucket_region' is set
        if ($tos_bucket_region === null || (is_array($tos_bucket_region) && count($tos_bucket_region) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tos_bucket_region when calling createTrail'
            );
        }
        // verify the required parameter 'tos_key_prefix' is set
        if ($tos_key_prefix === null || (is_array($tos_key_prefix) && count($tos_key_prefix) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tos_key_prefix when calling createTrail'
            );
        }
        // verify the required parameter 'trail_name' is set
        if ($trail_name === null || (is_array($trail_name) && count($trail_name) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $trail_name when calling createTrail'
            );
        }
        // verify the required parameter 'trail_type' is set
        if ($trail_type === null || (is_array($trail_type) && count($trail_type) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $trail_type when calling createTrail'
            );
        }

        $resourcePath = '/CreateTrail/2018-01-01/cloud_trail/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }

    public function deleteTrail($body)
    {
        list($response) = $this->deleteTrailWithHttpInfo($body);
        return $response;
    }

    public function deleteTrailWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Cloudtrail20180101\Model\DeleteTrailResponse';
        $request = $this->deleteTrailRequest($body);

        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function deleteTrailAsync($body)
    {
        return $this->deleteTrailAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function deleteTrailAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Cloudtrail20180101\Model\DeleteTrailResponse';
        $request = $this->deleteTrailRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function deleteTrailRequest($body)
    {
        $attributes = $body::getters();
        $trail_name = $body->{$attributes['trail_name']}();
        // verify the required parameter 'trail_name' is set
        if ($trail_name === null || (is_array($trail_name) && count($trail_name) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $trail_name when calling deleteTrail'
            );
        }

        $resourcePath = '/DeleteTrail/2018-01-01/cloud_trail/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }

    public function describeTrails($body)
    {
        list($response) = $this->describeTrailsWithHttpInfo($body);
        return $response;
    }

    public function describeTrailsWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Cloudtrail20180101\Model\DescribeTrailsResponse';
        $request = $this->describeTrailsRequest($body);

        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function describeTrailsAsync($body)
    {
        return $this->describeTrailsAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function describeTrailsAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Cloudtrail20180101\Model\DescribeTrailsResponse';
        $request = $this->describeTrailsRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function describeTrailsRequest($body)
    {
        $attributes = $body::getters();
        $include_organization_trail = $body->{$attributes['include_organization_trail']}();
        $trail_names = $body->{$attributes['trail_names']}();
        // verify the required parameter 'include_organization_trail' is set
        if ($include_organization_trail === null || (is_array($include_organization_trail) && count($include_organization_trail) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $include_organization_trail when calling describeTrails'
            );
        }
        // verify the required parameter 'trail_names' is set
        if ($trail_names === null || (is_array($trail_names) && count($trail_names) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $trail_names when calling describeTrails'
            );
        }

        $resourcePath = '/DescribeTrails/2018-01-01/cloud_trail/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }

    public function startLogging($body)
    {
        list($response) = $this->startLoggingWithHttpInfo($body);
        return $response;
    }

    public function startLoggingWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Cloudtrail20180101\Model\StartLoggingResponse';
        $request = $this->startLoggingRequest($body);

        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function startLoggingAsync($body)
    {
        return $this->startLoggingAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function startLoggingAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Cloudtrail20180101\Model\StartLoggingResponse';
        $request = $this->startLoggingRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function startLoggingRequest($body)
    {
        $attributes = $body::getters();
        $trail_name = $body->{$attributes['trail_name']}();
        // verify the required parameter 'trail_name' is set
        if ($trail_name === null || (is_array($trail_name) && count($trail_name) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $trail_name when calling startLogging'
            );
        }

        $resourcePath = '/StartLogging/2018-01-01/cloud_trail/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }

    public function stopLogging($body)
    {
        list($response) = $this->stopLoggingWithHttpInfo($body);
        return $response;
    }

    public function stopLoggingWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Cloudtrail20180101\Model\StopLoggingResponse';
        $request = $this->stopLoggingRequest($body);

        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function stopLoggingAsync($body)
    {
        return $this->stopLoggingAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function stopLoggingAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Cloudtrail20180101\Model\StopLoggingResponse';
        $request = $this->stopLoggingRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function stopLoggingRequest($body)
    {
        $attributes = $body::getters();
        $trail_name = $body->{$attributes['trail_name']}();
        // verify the required parameter 'trail_name' is set
        if ($trail_name === null || (is_array($trail_name) && count($trail_name) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $trail_name when calling stopLogging'
            );
        }

        $resourcePath = '/StopLogging/2018-01-01/cloud_trail/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }

    public function updateTrail($body)
    {
        list($response) = $this->updateTrailWithHttpInfo($body);
        return $response;
    }

    public function updateTrailWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Cloudtrail20180101\Model\UpdateTrailResponse';
        $request = $this->updateTrailRequest($body);

        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType);
    }

    public function updateTrailAsync($body)
    {
        return $this->updateTrailAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    public function updateTrailAsyncWithHttpInfo($body)
    {
        $returnType = '\Volcengine\Cloudtrail20180101\Model\UpdateTrailResponse';
        $request = $this->updateTrailRequest($body);
        return $this->apiClient->callApi($body, $request['resourcePath'], $request['method'], $request['headers'], $returnType, true);
    }

    protected function updateTrailRequest($body)
    {
        $attributes = $body::getters();
        $event_rw = $body->{$attributes['event_rw']}();
        $event_sources = $body->{$attributes['event_sources']}();
        $tls_project_name = $body->{$attributes['tls_project_name']}();
        $tls_project_region = $body->{$attributes['tls_project_region']}();
        $tls_project_topic_project = $body->{$attributes['tls_project_topic_project']}();
        $tls_topic_name = $body->{$attributes['tls_topic_name']}();
        $tos_bucket_name = $body->{$attributes['tos_bucket_name']}();
        $tos_bucket_project = $body->{$attributes['tos_bucket_project']}();
        $tos_bucket_region = $body->{$attributes['tos_bucket_region']}();
        $tos_key_prefix = $body->{$attributes['tos_key_prefix']}();
        $trail_name = $body->{$attributes['trail_name']}();
        $trail_type = $body->{$attributes['trail_type']}();
        // verify the required parameter 'event_rw' is set
        if ($event_rw === null || (is_array($event_rw) && count($event_rw) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $event_rw when calling updateTrail'
            );
        }
        // verify the required parameter 'event_sources' is set
        if ($event_sources === null || (is_array($event_sources) && count($event_sources) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $event_sources when calling updateTrail'
            );
        }
        // verify the required parameter 'tls_project_name' is set
        if ($tls_project_name === null || (is_array($tls_project_name) && count($tls_project_name) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tls_project_name when calling updateTrail'
            );
        }
        // verify the required parameter 'tls_project_region' is set
        if ($tls_project_region === null || (is_array($tls_project_region) && count($tls_project_region) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tls_project_region when calling updateTrail'
            );
        }
        // verify the required parameter 'tls_project_topic_project' is set
        if ($tls_project_topic_project === null || (is_array($tls_project_topic_project) && count($tls_project_topic_project) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tls_project_topic_project when calling updateTrail'
            );
        }
        // verify the required parameter 'tls_topic_name' is set
        if ($tls_topic_name === null || (is_array($tls_topic_name) && count($tls_topic_name) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tls_topic_name when calling updateTrail'
            );
        }
        // verify the required parameter 'tos_bucket_name' is set
        if ($tos_bucket_name === null || (is_array($tos_bucket_name) && count($tos_bucket_name) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tos_bucket_name when calling updateTrail'
            );
        }
        // verify the required parameter 'tos_bucket_project' is set
        if ($tos_bucket_project === null || (is_array($tos_bucket_project) && count($tos_bucket_project) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tos_bucket_project when calling updateTrail'
            );
        }
        // verify the required parameter 'tos_bucket_region' is set
        if ($tos_bucket_region === null || (is_array($tos_bucket_region) && count($tos_bucket_region) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tos_bucket_region when calling updateTrail'
            );
        }
        // verify the required parameter 'tos_key_prefix' is set
        if ($tos_key_prefix === null || (is_array($tos_key_prefix) && count($tos_key_prefix) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tos_key_prefix when calling updateTrail'
            );
        }
        // verify the required parameter 'trail_name' is set
        if ($trail_name === null || (is_array($trail_name) && count($trail_name) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $trail_name when calling updateTrail'
            );
        }
        // verify the required parameter 'trail_type' is set
        if ($trail_type === null || (is_array($trail_type) && count($trail_type) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $trail_type when calling updateTrail'
            );
        }

        $resourcePath = '/UpdateTrail/2018-01-01/cloud_trail/post/application_x-www-form-urlencoded/';
        $queryParams = [];

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            ['application/x-www-form-urlencoded']
        );

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getHost()) {
            $defaultHeaders['Host'] = $this->config->getHost();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headers
        );

        $paths = explode("/", $resourcePath);
        $service = $paths[3];
        $method = strtoupper($paths[4]);

        return ['resourcePath' => $resourcePath, 'headers' => $headers, 'method' => $method];
    }


    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        return $options;
    }
}
